<% if @conversations.size > 0 %>
  <% @conversations.each do |conversation| %>
    <%= profile_thumbnail account %>
    <strong><%= account.first_name %></strong>
    <%= conversation.messages.last.body %>
  <% end %>

<% else %>
  <p>No messages to display</p>
<% end %>
