<div class="row">
  <% @matches.each do |matche| %>
    <div class="col-sm-4 mt-3">
      <div class="match-title rounded" data-id="<%=matche.id %>" <% if matche.images.attached? %> style="background-image: url('<%= url_for matche.images.first %>')" <% end %>>
        <p class="text-white"><%= matche.first_name%></p>
      </div>
    </div>
  <% end %>
</div>
