<ul id="slides">
  <% @users.each_with_index do |user, i| %>
  <div class="slide <%= 'showing' if i == 0 %>" data-id="<%= user.id %>">
    <div class="image-carousel" style="background-image: url('<%= url_for user.images.first %>')">
    </div>
      <div class="user-details">
        <span class="user-name"><%= user.first_name %></span>, <small>25</small> <br>
        <i class="fa fa-graduation-cap mr-1"></i> job/ studies <br>
        <i class="fa fa-map-marker mr-2"></i> Localisation

      </div>
  </div>
  <% end %>
</ul>

<div id="slide-controls">
  <span id="decline"><i class="fa fa-times-circle fa-2x"></i></span>
  <span id="approve"><i class="fa fa-heart fa-2x"></i></span>
</div>
