<ul id="slides">
  <% @users.each do |user| %>
  <div class="slide" data-id="<%= user.id %>">
    <p><%= user.first_name %></p>
  </div>
  <% end %>
</ul>

<div id="slide-controls">
  <span id="decline"><i class="fa fa-times-circle fa-2x"></i></span>
  <span id="approve"><i class="fa fa-heart fa-2x"></i></span>
</div>
