<ul id="slides">
  <% @users.each do |user| %>
  <div class="slide" data-id="<%= user.id %>">
    <p><%= user.first_name %></p>
  </div>
  <% end %>
</ul>

<button class="controls" id="decline">No</button>
<button class="controls" id="approve">Yes</button>
