.match-title{
  width: 150px;
  height: 150px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  position: relative;
  p{
    position: absolute;
    bottom: 15px;
    left: 15px;
  }
}

#conversation {
  display: none;
  width: 95%;
  height: 95%;
  position: absolute;
  left: 2%;
  top: 2%;
  padding: 30px;
  z-index:1000;
  background: #fff;

  .top-bar {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
  .bottom-bar{
    border-top: 1px solid #ddd;
    padding-top: 40px;
    margin-top: 30px;
  }
  #close-conversation {
    cursor: pointer;

    &:hover {
      color: #000 !important;
    }
  }
}
