.match-title{
  width: 135px;
  height: 135px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  background-color: #ddd;
  position: relative;
  p{
    position: absolute;
    bottom: 15px;
    left: 15px;
  }
}

.open_conversation {
  background: #cfcfcf;
  border-bottom: 1px solid #ddd;
  padding-top: 20px;
  cursor: pointer;
}

#conversation {
  display: none;
  width: 95%;
  height: 95%;
  position: absolute;
  left: 2%;
  top: 2%;
  padding: 30px;
  z-index:1000;
  background: #fff;

  .top-bar {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
  .bottom-bar{
    border-top: 1px solid #ddd;
    padding-top: 40px;
    margin-top: 30px;
  }

  .conversation-message{
    background: #f2f2f2;

    p{
      margin: 0;
    }
  }
  .sent-by-me {
      .conversation-message {
        background: #b3d7ff;
      }
  }
  #close-conversation {
    cursor: pointer;

    &:hover {
      color: #000 !important;
    }
  }
}
