.profile_bar {
  padding: 15px 25px;
  margin-right: -15px;
  background: linear-gradient(262deg, #ff7854, #fd267d);

  a.my-profile {
    font-size: 20px;
    //line-height: 40px;
  }
  a.sign-out {
    font-size: 16px;
  }
  a:hover {
    text-decoration: none;
  }
}
.nav-tinder-sidebar .nav-link.active {
  border-bottom: 2px solid #fd267d;
}
.profile-thumb {
  border: 1px solid #ffff;
}
