/*
https://www.sitepoint.com/make-a-simple-javascript-slideshow-without-jquery/
essential styles:
these make the slideshow work
*/

#slides {
    position: relative;
    height: 40vh;
    padding: 0px;
    margin: 40px 0px 20px;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    box-sizing: border-box;
    color: #fff;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}


#slide-controls {
  margin: 70px 0 400px;
  text-align: center;
  span {
    margin: 0 10px;
  }
}

.image-carousel {
  border-radius: 5px;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.user-details{
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -120px;
  font-size: 18px;
  .user-name {
    font-size: 20px;

  }
}
/*
.slide:nth-of-type(1) {
    background: red;
}
.slide:nth-of-type(2) {
    background: orange;
}
.slide:nth-of-type(3) {
    background: green;
}
.slide:nth-of-type(4) {
    background: blue;
}
.slide:nth-of-type(5) {
    background: purple;
}
*/
