<div class="card-deck mb-3 text-center">
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Rejoins nous et fait des rencontres</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">C'est gratuit</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">S'INCRIRE AUJOURD'HUI</h4>
    </div>
    <div class="card-body">
      <p>CLiquez ici pour commencer</p>
      <%= link_to "S'inscrire", new_account_registration_path ,class:"btn btn-lg btn-block btn-primary"%>
    </div>
  </div>
</div>
